# Ignore node_modules in both frontend and backend
node_modules/
client/node_modules/
Server/node_modules/

# Ignore environment variables
.env
Server/.env

# Ignore production builds
client/dist/
client/build/